# Extensions.

*.root
*.dat
*.png
*.pdf
*.ipynb
*.pyc

# Directory contents.

data/*
!data/.gitkeep

results/*
!results/.gitkeep 

toy_monte_carlo/bin/*
!toy_monte_carlo/bin/.gitkeep

toy_monte_carlo/plot/*
!toy_monte_carlo/plot/.gitkeep

toy_monte_carlo/root/*
!toy_monte_carlo/root/.gitkeep

# Directories.

.ipynb_checkpoints

# Python stuff.
__pycache__
